html,
body {
  height: 100%;
  width: 100%;
  background-color: #333;
  margin:0
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 150%;
    min-height: 150%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*transition: 1s opacity;*/
    filter: blur(1px) brightness(50%);
}
/* Dimming the video */
.overlay{
    background-color: #333;
    z-index: 0;
    opacity: 0.55;
}

.boi-text{
    width: 100%;
    height: 90%;
    z-index: 1000;
    position: relative;
    text-align: center;
    padding: 18% 0 0 0;
}
.boi-text1{
    font-size: 5em;
}

.footer-container{
    text-align: center;
    margin: 2.5% 0 0 0;
    padding: 0;
}

.footer-div{
    z-index: 2;
    margin-bottom:-16px;
}
.footer-text{
    margin-bottom: -2rem;
}